<p id="notice"><%= notice %></p>

<p>
  <b>Assessment name:</b>
  <%= @assessment.assessment_name %>
</p>


<%= link_to 'Edit', edit_assessment_path(@assessment) %> |
<%= link_to 'Back', assessments_path %>
